/* demo */
.flex_container {
  background-color: black;
  height: 100vh;
}

.flex_item1 {
  background-color: red;
  width: 100px;
  height: 100px;
}

.flex_item2 {
  background-color: blue;
  width: 100px;
  height: 100px;
}
