/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  /* margin-left: auto;
  margin-right: auto; */
}

/* header */
header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.295);
}

header .header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header_content .header_logo span {
  font-weight: bold;
}

header .header_content nav ul li {
  display: inline;
  margin-right: 50px;
  font-size: 17px;
  text-transform: uppercase;
}

header .header_content a {
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}

header .header_logo {
  font-size: 32px;
}

header nav li .active {
  color: red;
}

header nav li a:hover {
  color: red;
}

/* banner */
.banner {
  background-image: url(../img/home_slider.jpg);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* cách dùng flex box để canh giữa nội dung theo chiều ngang và dọc */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.banner .banner_subTitle {
  font-size: 25px;
}

.banner h1 {
  font-size: 75px;
  line-height: 85px;
}

.banner button {
  padding: 15px 25px;
  color: white;
  text-transform: uppercase;
  background-color: #e62b4a;
  border: 2px solid #e62b4a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px 0;
}

.banner button:hover {
  background-color: #af2238;
}

/* service */
.service {
  background-color: black;
  color: white;
  padding: 50px 0;
}

.service .service_title {
  text-align: center;
  padding: 40px 0;
}

.service .service_title span {
  color: #e62b4a;
  font-size: 14px;
  font-weight: 300;
}

.service .service_title h2 {
  font-size: 50px;
  font-weight: 400;
  width: 100%;
  padding: 5px 0 20px 0;
}

.service .service_title p {
  font-size: 16px;
  font-weight: bold;
  color: #888888;
}

.service .item_bg {
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #888888;
  height: 250px;
  position: relative;
}

.service .service_item {
  padding: 0 15px;
}

.service .slick-dots li button:before {
  font-size: 15px;
  color: white;
}

.service .slick-dots li.slick-active button:before {
  color: #e62b4a;
}

.service .service_content .service_item i {
  font-size: 50px;
}

.service .service_item .item_bg::before {
  content: "";
  background: #e62b4a;
  width: 5px;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.service .service_item .item_bg:hover::before {
  height: 100%;
  transition: all 0.5s;
}

/* blog */
.blog .blog_title {
  text-align: center;
  margin: 100px 0;
}

.blog .blog_title span {
  font-size: 14px;
  color: #888888;
}

.blog .blog_title h2 {
  font-size: 50px;
  font-weight: 400;
  padding: 5px 0 20px 0;
}

.blog .blog_title p {
  font-size: 16px;
  font-weight: bold;
  color: #888888;
}

.blog .blog_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.blog .blog_content .blog_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0.6) contrast(0.7);
}

.blog .blog_item:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.blog .blog_item:last-child {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}

.blog .blog_content .blog_item {
  position: relative;
}

.blog .blog_item .overlay {
  position: absolute;
  background-color: #e62b4a8a;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.blog .blog_item .overlay .overlay_icon {
  text-align: right;
}

.blog .blog_item .overlay .overlay_icon i {
  padding: 15px;
  background-color: white;
}

.blog .blog_item .overlay .overlay_text span {
  color: #d0c3c5;
}

.blog .blog_item .overlay .overlay_text h3 {
  color: white;
}

/* demo */
.demo5 {
  background-color: black;
  width: 100%;
}

.flex_container {
  background-color: black;
  height: 100vh;
  /* height: 200px; */
  /* khi sử dụng flex sẽ có 2 trục là trục chính (mặc định ban đầu là trục ngang) và trục phụ (mặc định ban đầu là trục dọc) */
  display: flex;
  /* thuộc tính điều chỉnh các phần tử dựa trên trục chính  */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: flex-end; */
  /* justify-content: space-evenly; */
  /* justify-content: space-around; */

  /* thuộc tính điều chỉnh các phần tử theo chiều dọc (trục phụ) */
  /* align-items: flex-end; */
  /* align-items: center; */
  /* align-items: flex-start; */
  /* align-items: ; */

  /* thay đổi trục chính của flex box  */
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
}

.flex_item1 {
  background-color: red;
  width: 200px;
  height: 200px;
}

.flex_item2 {
  background-color: blue;
  width: 200px;
  height: 200px;
}

.flex_item3 {
  background-color: purple;
  width: 200px;
  height: 200px;
}

.flex_item4 {
  background-color: aqua;
  width: 200px;
  height: 200px;
}

.demo_before_after {
  padding: 50px 0;
  background-color: blue;
  position: relative;
}

.demo_before_after::before {
  display: block;
  content: "";
  background-color: red;
  width: 4px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
}
